{% extends "base_generic.html" %}

{% block content %}

<h1>BookInstance: {{ bookinstance.book.title }}</h1>

<p><strong>Author:</strong> <a href="{{ bookinstance.book.author.get_absolute_url}}"></a></p>

<p><strong>Imprint:</strong>{{ bookinstance.imprint }}</p>
<p><strong>Status:</strong>{{ bookinstance.get_status_display}} {% if bookinstance.status != 'a' %}{{bookinstance.due_back}}{% endif %}</p>

<hr>
<ul>
    <li>
        <a href="{{ bookinstance.book.author.get_absolute_url}}">All copies</a>
    </li>
</ul>
{% endblock %}
{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_bookinstance or perms.catalog.delete_bookinstance %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_bookinstance %}
      <li><a href="{% url 'bookinstance-update' bookinstance.id %}">Update bookinstance</a></li>
    {% endif %}
    {% if not bookinstance.book_set.all and perms.catalog.delete_bookinstance %}
      <li><a href="{% url 'bookinstance-delete' bookinstance.id %}">Delete bookinstance</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}

